{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{dog.img}}" alt="{{dog.name}}" />
</div>
<div class="detail__name">
  {% if dog.verified_dog %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified</span>
  </div>
  {% endif %}
  <h1 class="title">{{dog.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'dog_update' dog.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'dog_delete' dog.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
<!-- FORM TO CREATE TREAT -->
<form class="mb-5" action="{% url 'treat_create' dog.pk %}" method="post">
  {% csrf_token %}
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        type="text"
        name="name"
        placeholder="Name"
        required
      />
    </div>
    <div class="control">
      <input
        class="input"
        type="number"
        name="length"
        placeholder="Length in Inches"
        min="1"
        required
      />
    </div>
    <div class="control">
      <input class="button is-primary" type="submit" value="Add Treat" />
    </div>
  </div>
</form>
<!-- END OF FORM TO CREATE TREAT -->












  <!-- TREAT DETAILS -->
  <div class="detail__songs mb-5">
    <h3 class="title is-3">Treats</h3>

    {% for treat in dog.treats.all %}
    <div class="song">
      <span>{{forloop.counter}}</span>
      <span><b>{{treat.name}}</b></span>
      <span>{{treat.length}}</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Treats Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!-- TREAT DETAILS END -->





  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{dog.bio}}</p>
  </div>
</div>

{% endblock %}